:root {
    /* Colors */
    --white: #FFFFFF;
    --grey: #949494;
    --blue: #242742;
    --red: #FF6155;
    --gradient-start: #FF6A3A;
    --gradient-end: #FF527B;

    /* Spacing */
    --spacing-100: 0.8rem;
    --spacing-200: 1.6rem;
    --spacing-300: 2.4rem;
    --spacing-400: 3.2rem;
    --spacing-500: 4rem;
    --spacing-600: 4.8rem;
    --spacing-800: 6.4rem;
    --spacing-900: 7.2rem;
    --spacing-1300: 10.4rem;

    /* Typography */
    --fs-preset-1: 5.6rem;
    --fs-preset-1-mobile: 8.8rem;
    --fs-preset-2: 1.6rem;
    --fs-preset-3: 1.2rem;

    --lh-preset-1: 100%;
    --lh-preset-2-3: 150%;

    --ls-global: 0px;

    --bold: 700;
    --regular: 400;
}

/* Setting base rem value = 10px */
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-400);
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-preset-2);
    font-weight: var(--regular);
    letter-spacing: var(--ls-global);
    background-color: var(--blue);
}

/* Main component */
.signup-component {
    max-width: 860px;
    padding: var(--spacing-400);
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: var(--spacing-800);
    background-color: var(--white);
}

/* image */
.signup__image-container {
    min-width: 47%;
}

.signup__image-container img {
    min-width: 100%;
    border-radius: 30px;
}

.img-mobile {
    display: none;
}

/* Info section */
.signup__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    color: var(--blue);
}

/* List */
.signup__info-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    list-style-type: none;
}

.signup__info-list-el {
    display: flex;
    align-items: center;
}

.signup__info-list-el::before  {
    content: '';
    background-image: url("../img/icon-list.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: var(--spacing-200);
}

/* Form */
.signup__info-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.signup__info-label {
    display: block;
    font-weight: var(--bold);
}

.signup__info-input {
    width: 100%;
    padding: var(--spacing-200) var(--spacing-300);
    border-radius: 8px;
    border: 1px solid var(--grey);
}

.btn {
    padding: var(--spacing-200) var(--spacing-600);
    border: none;
    width: 100%;
    color: var(--white);
    font-weight: var(--bold);
    background-color: var(--blue);
    border-radius: 8px;
    transition: all 0.3s;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-8px);
}

/* General styles */
.preset-1 {
    font-size: var(--fs-preset-1);
    line-height: var(--lh-preset-1);
}

.preset-3 {
    font-size: var(--fs-preset-3);
    line-height: var(--lh-preset-2-3);
}

/* Interactivity classes */
.hidden {
    display: none;
}

/* ============== Success component ============== */
.success-component {
    max-width: 504px;
    padding: var(--spacing-800);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-400);
    background-color: var(--white);
}

.user-email {
    font-weight: var(--bold);
}
@media (max-width: 57rem) {
    html {
        font-size: 50%;
    }

    body {
        padding: 0 var(--spacing-200);
    }
}

@media (max-width: 48rem) {
    html {
        font-size: 62.5%;
    }

    body {
        padding: 0;
    }

    .signup-component {
        max-width: 608px;
        flex-direction: column;
    }

    /* image */
    .signup__image-container {
        min-width: 100%;
        order: 1;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    /* Info section */
    .signup__info {
        order: 2;
    }
}

@media (max-width: 27rem) {
    html {
        font-size: 60%;
    }

    .signup-component {
        padding: 0;
        gap: 0;
        height: 100vh;
        border-radius: 0;
    }

    .signup__image-container img {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    /* Info section */
    .signup__info {
        padding: var(--spacing-500) var(--spacing-200);
    }

    .success-component {
        height: 100vh;
        border-radius: 0;
        justify-content: center;
    }

    .dismiss-btn {
        margin-top: auto;
    }

}